;Project     :  The project name
;Created at  :  2016/10/16
;Author      :  Breith Barbot

[infos_base]
;title = "The project name"
title = ""

;description = "Project description..."
description = ""

;URLDEV = "http://dev.website.com"
URLDEV = ""

;URLPROD = "http://website.com"
URLPROD = ""

;URLDB = "http://localhost/phpmyadmin/index.php?db=dbname"
URLDB = ""

;thumbnail = "http://website.com/about"
thumbnail = ""
